apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: llm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
    spec:
      containers:
        - name: n8n
          image: n8nio/n8n:latest
          ports:
            - containerPort: 5678
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              memory: "2Gi"
          env:
            - name: N8N_HOST
              value: "n8n.kailas.cloud"
            - name: N8N_PORT
              value: "5678"
            - name: N8N_PROTOCOL
              value: "https"
            - name: WEBHOOK_URL
              value: "https://n8n.kailas.cloud/"
            - name: N8N_EDITOR_BASE_URL
              value: "https://n8n.kailas.cloud"
            - name: GENERIC_TIMEZONE
              value: "Europe/Moscow"
            - name: N8N_OAUTH_ENABLED
              value: "true"
            - name: N8N_OAUTH_PROVIDER
              value: "github"
            - name: N8N_OAUTH_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: n8n-oauth-secret
                  key: N8N_OAUTH_CLIENT_ID
            - name: N8N_OAUTH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: n8n-oauth-secret
                  key: N8N_OAUTH_CLIENT_SECRET
            - name: N8N_OAUTH_CLIENT_SCOPES
              value: "read:user,user:email"
            - name: N8N_OAUTH_REDIRECT_URI
              value: "https://n8n.kailas.cloud/oauth/callback"
            - name: N8N_BASIC_AUTH_ACTIVE
              value: "false"
          volumeMounts:
            - name: n8n-data
              mountPath: /home/node/.n8n
      volumes:
        - name: n8n-data
          persistentVolumeClaim:
            claimName: n8n-pvc
