apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: llm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
    spec:
      containers:
        - name: n8n
          image: n8nio/n8n:latest
          ports:
            - containerPort: 5678
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              memory: "2Gi"
          env:
            - name: N8N_HOST
              value: "n8n.kailas.cloud"
            - name: N8N_PORT
              value: "5678"
            - name: N8N_PROTOCOL
              value: "https"
            - name: WEBHOOK_URL
              value: "https://n8n.kailas.cloud/"
            - name: GENERIC_TIMEZONE
              value: "Europe/Moscow"
          volumeMounts:
            - name: n8n-data
              mountPath: /home/node/.n8n
      volumes:
        - name: n8n-data
          persistentVolumeClaim:
            claimName: n8n-pvc
