apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |
    deployment:
      podAnnotations:
        prometheus.io/port: "8082"
        prometheus.io/scrape: "true"
    global:
      systemDefaultRegistry: ""
    image:
      repository: rancher/mirrored-library-traefik
      tag: 2.11.10
    priorityClassName: system-cluster-critical
    providers:
      kubernetesIngress:
        publishedService:
          enabled: true
    service:
      ipFamilyPolicy: PreferDualStack
    tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Exists
