name: Valkey Operator Test

on:
  pull_request:
    paths:
      - "shared/valkey/operator/**"
      - ".github/workflows/valkey-operator-test.yml"

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: Display Go version
        run: go version
      - name: Test
        run: make V=1 test
        working-directory: shared/valkey/operator
