name: Valkey Operator Scan

on:
  push:
    branches:
      - main
    paths:
      - "shared/valkey/operator/**"
      - ".github/workflows/valkey-operator-scan.yml"
  pull_request:
    paths:
      - "shared/valkey/operator/**"
      - ".github/workflows/valkey-operator-scan.yml"

permissions:
  contents: read

jobs:
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: shared/valkey/operator/Dockerfile.controller
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: shared/valkey/operator/Dockerfile.sidecar

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - uses: actions/checkout@v6
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.4.0
          args: --timeout=5m --config=.golangci.yml
          working-directory: shared/valkey/operator
